<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Avatar</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/avatar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">

     <!-- JS -->
     <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    
</head>
<body>
    <div id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>

    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                {% endif %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}"><img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar"></a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container mt-5">
        <h2 class="text-center">Search and Select Your New Avatar</h2>
        <form action="{{ url_for('profile.search_avatar') }}" method="post" class="text-center">
            <div class="form-group d-inline-block">
                <input type="text" class="form-control search-input" name="image_search" placeholder="Search for images">
                <button type="submit" class="btn btn-primary mt-3" name="submit_search">Search</button>
            </div>
        </form>
        {% if images %}
        <div class="search-results">
            <div class="image-grid">
                {% for image in images %}
                <div class="image-item">
                    <div class="image-container">
                        <img src="{{ image.src.medium }}" alt="Image" class="avatar-image">
                    </div>
                    <a href="{{ url_for('profile.set_avatar', image_url=image.src.medium) }}" class="btn btn-success">Set as Avatar</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                No requests found. Please try a different search query.
            </div>
        {% endif %}

    </div>
</body>
</html>