<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    <style>
        .navbar-avatar {
            width: 40px; 
            height: 40px;
            border-radius: 50%; 
            object-fit: cover; 
            margin-right: 10px; 
        }
    </style>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li><a href="{{ url_for('requests.search_requests') }}">Search Requests</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create Request</a></li>
                {% if session.get('username') %}
                <li>
                    <img src="{{ user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar">
                    <a class="nav-link">{{ session['username'] }}</a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container mt-5">
        <div class="profile-form">
            <h2>Update Your Profile:</h2>
            <form action="{{ url_for('profile.update_profile') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="button-group">
                    {{ form.submit_update(class="btn btn-primary") }}
                </div>
            </form>
        </div>
        <div class="profile-avatar">
            <div class="avatar-container">
                <h2>Your Current Avatar:</h2>
                <img src="{{ user.avatar_url }}" alt="Your Avatar" class="img-thumbnail">
                <div class="button-group">
                    <a href="{{ url_for('profile.search_avatar') }}" class="btn btn-secondary">Update Avatar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>