<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

</head>
<body>
    <div id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>

    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li><a href="{{ url_for('requests.search_requests') }}">Search</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create</a></li>

                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <!-- Add a query string to the image URL to prevent caching -->
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}"><img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar"></a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>

            </ul>
        </nav>
    </header>

    <div class="container">
        <!-- User Profile Sidebar -->
        <div class="profile-sidebar">
            <img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="profile-image">
            <h2>{{ user.username }}</h2>
            <p class="lead">This is your personal dashboard where you can view and manage your requests and responses.</p>
            <hr>
            <p class="lead">Use the buttons below to create a new request or search other request.</p>
            <div class="profile-actions">
                <a class="btn" href="{{ url_for('requests.create_request') }}" role="button">Create Request</a>
                <a class="btn" href="{{ url_for('requests.search_requests') }}" role="button">Search Requests</a>
            </div>
        </div>

        <!-- Content Panel with Tabs -->
        <div class="content-panel">
            <!-- Tab Navigation -->
            <div class="tab-navigation">
                <button class="tab-button active" onclick="switchTab('tab1')">My Requests</button>
                <button class="tab-button" onclick="switchTab('tab2')">My Responses</button>
                <button class="tab-button" onclick="switchTab('tab3')">My Accepted Requests</button>
            </div>
        
            <!-- Tab Content -->
            <div id="tab1" class="tab-content active">
                <div>
                    <h2>My Requests</h2>
                    {% if requests %}
                    <ul class="list-group">
                        {% for request in requests %}
                        <a href="{{ url_for('requests.request_details', request_id=request.id) }}">
                            <li class="list-group-item">
                                <p>Title: {{ request.title }} </p>
                                <p>Description: {{ request.description }}</p>
                            </li>
                        </a>
                        
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No request yet.</p>
                    {% endif %}
                </div>
            </div>
        
            <div id="tab2" class="tab-content">
                <div>
                    <h2>My Responses</h2>
                    {% if responses %}
                    <ul class="list-group">
                        {% for response in responses %}
                        <a href="{{ url_for('requests.answer_request', request_id=response.request_id) }}">
                            <li class="list-group-item">
                                <p>My response for this request: {{ response.response_text }} </p>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No response yet.</p>
                    {% endif %}
                </div>
            </div>
        
            <div id="tab3" class="tab-content">
                <div>
                    <h2>My Accepted Requests</h2>
                    {% if accepted_requests %}
                    <ul class="list-group">
                        {% for request in accepted_requests %}
                        <li class="list-group-item" style="position: relative;">
                            <p>Title: {{ request.title }} </p>
                            <p>Description: {{ request.description }}</p>
                            <a href="{{ url_for('requests.my_accepted_requests', request_id=request.id) }}" class="answer-btn">Answer</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No response yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>









