a {
    text-decoration: none; /* Removes underlines globally */
}

.container {
    display: flex;
    width: 100%;
    margin: 5rem auto; 
}

.profile-sidebar {
    width: 25%; 
    background-color: #0e005c;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
    flex: 0 0 auto; 
    overflow-y: auto;
}

.content-panel {
    width: 65%; 
    padding: 20px;
    background-color: #cae2f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-right: 12px;
    margin-left: 12px;
}


.profile-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    border: 4px solid white; 
    display: block;
    margin: 0 auto 20px; 
}

h2 {
    margin: 10px 0;
}

.lead {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

.profile-actions .btn {
    display: block;
    width: auto; 
    padding: 0.75em 1.5em;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.2em;
    background-color: #e1f0ff;
    transition: background-color 0.3s ease;
    color: black;
    margin-top: 30px;
    margin-bottom: 25px;
}


.btn:hover {
    filter: brightness(85%);
}

.profile-actions .btn:hover {
    filter: brightness(85%);
    text-decoration: none; /* No underline on hover */
}

.tab-navigation {
    display: flex;
    margin-bottom: 20px;
}

.my-btn {
    flex: 1;
    padding: 5px;
    background-color: #e9ecef;
    max-width: 80px;
    text-align: center;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.my-btn:hover {
    background-color: #0e005c;
    color: white;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #e9ecef;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #dde;
}

.tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid #007bff;
}

.tab-content {
    display: none; /* Hide all tab content by default */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    max-height: 440px; 
    width: 95%;
}

.tab-content.active {
    display: block; 
}

.list-group {
    list-style: none;
    padding: 0;
    width: 100;
}

.list-group-item {
    background-color: #0e005c;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #094ea9ce;
}

.list-group-item a {
    color: inherit; 
    display: block; 
    text-decoration: none;
}

.list-group-item p {
    margin: 5px 0; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 90%;
    color: white;
}
