a {
    text-decoration: none; /* Removes underlines globally */
}
/* Header Styling */
#header {
    background: #ffffff;
    color: #555f66;
    cursor: default;
    height: 4em;
    left: 0;
    line-height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
}

#header h1 {
    color: #666f77;
    font-weight: 500;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header h1 a {
    font-size: 1.25em;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 1.25em;
    top: 0;
    vertical-align: middle;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 6px;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}

#header nav > ul > li a {
    text-transform: uppercase;
    color: black;
    -webkit-transition: letter-spacing .3s linear; 
    -moz-transition: letter-spacing .3s linear; 
    -ms-transition: letter-spacing .3s linear; 
    -o-transition: letter-spacing  .3s linear; 
    transition: letter-spacing  .3s linear;
    transition: 0.5s ;
}

#header nav > ul > li a:hover {
    text-decoration: underline; 
    color: #4169E1;
    letter-spacing:1.5px;
}

#header nav > ul > li .button {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00008B; 
    color: white;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba( 0, 0, 0, 0.75 );
    transition: 0.5s ;
}

#header nav > ul > li .button:hover {
    background-color: #32a7dd; 
    color: white;
    text-decoration: none;
}

/* footer styling */
footer {
    background-color: #f6f6e6; 
    color: #333; 
    padding: 40px 0; 
}

.half h2 {
    color: #000;
    margin-bottom: 20px;
}

.half ul {
    list-style: none; 
    padding: 0; 
}

.half ul.alt li span {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; 
    width: 70%;   
}

.half ul.alt li:hover {
    color: #629DD1; 
}

.half ul.icons {
    padding-top: 20px;
}

.half ul.icons li {
    display: inline-block; 
    margin-right: 10px; 
}

.half ul.icons li a {
    color: #555; 
    font-size: 1.5em; 
}

.half ul.icons li a:hover {
    color: #629DD1; 
}
