<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>Answer Request</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/answer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    <script src="https://kit.fontawesome.com/f0c92dd9f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>

    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                {% endif %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('requests.search_requests') }}">Search</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}"><img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar"></a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mt-5">
        <h1>Request Details</h1>
        <div class="request-details">
            <h2>Request Title:</h2>
            <p class="request-title-content">{{ request.title }}</p>
            <h2>Description:</h2>
            <p>{{ request.description }}</p>
        </div>

        <div class="accepted-details">
            <h2>All Responses</h2>
            {% if responses %}
                <ul class="list-group accepted-responses">
                    {% for response in responses %}
                        <li class="list-group-item">
                            <img src="{{ response.responder.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar">
                            <strong>{{ response.responder.username }}: </strong>
                            <p>{{ response.response_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No responses yet.</p>
            {% endif %}
        </div>

        <div class="wiki-help">
            <h2>
                Wikipedia Help
                <i id="toggle-icon" class="fas fa-chevron-down" onclick="toggleHelp()"></i>
            </h2>
            <div id="help-content" style="display: none;">
                <input type="text" class="form-control search-input" id="searchTerm" placeholder="Search Wikipedia">
                <button id="loadContent" class="btn btn-primary">Search</button>
                <div id="apiContent"></div>
                <div id="wikiAttribution">
                    <p>Content sourced from <a href="#" id="wikiLink">Wikipedia Article</a>, available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 License</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Optionally include a form for the current user to submit a response -->
        <form action="{{ url_for('requests.submit_answer', request_id=request.id) }}" method="POST">
            <div class="form-group">
                <label for="response" class="response-label">Your Response:</label>
                <textarea class="form-control response-textarea" id="response" name="response" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Response</button>
        </form>
    </div>
</body>
</html>
