<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Accepted Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accepted.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    <style>
        .navbar-avatar {
            width: 40px; 
            height: 40px;
            border-radius: 50%; 
            object-fit: cover; 
            margin-right: 10px; 
        }
    </style>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                {% endif %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('requests.search_requests') }}">Search Requests</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create Request</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}">{{ current_user.username }}</a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mt-5">
        <h1>My Accepted Requests</h1>
        <ul class="list-group accepted-requests">
            {% for request in accepted_requests %}
            <li class="list-group-item">
                <div class="request-content">
                    <div class="request-details">
                        <h5>{{ request.title }}</h5>
                        <p>{{ request.description }}</p>
                    </div>
                    <div class="button-container">
                        <a href="{{ url_for('requests.answer_request', request_id=request.id) }}" class="btn btn-primary">Answer</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
