<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>My Accepted Requests</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accepted.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    
</head>
<body>
    <div id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>

    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                {% endif %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('requests.search_requests') }}">Search</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}"><img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar"></a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mt-5">
        <h1>My Accepted Requests</h1>
        <ul class="list-group accepted-requests">
            {% for request in accepted_requests %}
            <li class="list-group-item">
                <div class="request-content">
                    <div class="request-details">
                        <h5>{{ request.title }}</h5>
                        <p>{{ request.description }}</p>
                    </div>
                    <div class="button-container">
                        <a href="{{ url_for('requests.answer_request', request_id=request.id) }}" class="btn btn-primary">Answer</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
