<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    <style>
        .navbar-avatar {
            width: 40px; 
            height: 40px;
            border-radius: 50%; 
            object-fit: cover; 
            margin-right: 10px; 
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li><a href="{{ url_for('requests.search_requests') }}">Search Requests</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create Request</a></li>
                {% if session.get('username') %}
                <li>
                    <img src="{{ user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}">{{ session['username'] }}</a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <h1>Search Requests</h1>
        <form action="{{ url_for('requests.search_requests') }}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Type to search for requests...">
                <button type="submit" class="btn btn-primary mt-3">Search</button>
            </div>
        </form>
        <!-- Display search results -->
        {% if search_results %}
            <div class="list-group">
                {% for request in search_results %}
                    <a href="{{ url_for('requests.request_details', request_id=request.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">{{ request.title }}</h5>
                        <p class="mb-1">{{ request.description }}</p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                No requests found. Please try a different search query.
            </div>
        {% endif %}
    </div>
</body>
</html>