<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Requests</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</head>
<body>
    <div id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
    </div>

    <header id="header">
        <h1><a href="{{ url_for('main.home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                {% if session.get('username') %}
                {% endif %}
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('requests.create_request') }}">Create</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item align-items-center d-flex">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}"><img src="{{ current_user.avatar_url }}?t={{ current_time }}" alt="User Avatar" class="navbar-avatar"></a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}" class="button">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <h1>Search Requests</h1>
        <form action="{{ url_for('requests.search_requests') }}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Type to search for requests..." value="{{ request.args.get('query', '') }}">
                <button type="submit" class="btn btn-primary mt-3">Search</button>
            </div>
        </form>
        <!-- Display search results -->
        {% if search_results %}
            <div class="list-group">
                {% for request in search_results %}
                    <a href="{{ url_for('requests.request_details', request_id=request.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">{{ request.title }}</h5>
                        <p class="mb-1">{{ request.description }}</p>
                    </a>
                {% endfor %}
            </div>
        {% elif request.args.get('query') %}
            <div class="alert alert-info" role="alert">
                No requests found. Please try a different search query.
            </div>
        {% endif %}
    </div>
</body>
</html>