<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to RequestHub</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introductory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    <script src="https://kit.fontawesome.com/f0c92dd9f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="#banner">Home</a></button></li>
                <li><a href="#about">About</a></li>
                <li><a href="#function">Product</a></li>
                <li><a href="#footer">contact us</a></li>
                <li><a href="{{ url_for('login') }}" class="button">Login</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <div class="inner">
            <h2>Welcome to RequestHub</h2>
            <p>The place where you can post requests, solve puzzles, and engage with your community.</p>
            <hr>
            <p>Get started by either logging in to your existing account or creating a new one to explore the possibilities.</p>
            <ul class="actions">
                <li><a href="{{ url_for('register') }}" class="button big special">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}" class="button big alt">Login</a></li>
            </ul>
        </div>
    </section>
    
    <section id="about">
        <div class="major">
            <h2>Ipsum feugiat consequat</h2>
            <p>Tempus adipiscing commodo ut aliquam blandit</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-area-chart major"></i>
                        <h3>Justo placerat</h3>
                        <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-refresh major"></i>
                        <h3>Blandit quis curae</h3>
                        <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-cog major"></i>
                        <h3>Amet sed accumsan</h3>
                        <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="function">
        <div class="major">
            <h2>Commodo accumsan aliquam</h2>
            <p>Amet nisi nunc lorem accumsan</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="half">
                    <img src="{{ url_for('static', filename='images/login_page_img.jpg') }}" alt="" width="680" height="308">
                    <h3>Mollis adipiscing nisl</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                </div>

                <div class="half">
                    <img src="{{ url_for('static', filename='images/login_page_img.jpg') }}" alt="" width="680" height="308">
                    <h3>Neque ornare adipiscing</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                </div>
            
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="half">
                    <h2>Accumsan</h2>
                    <ul class="alt">
                        <li><span>Nascetur nunc varius</span></li>
                        <li><span>Vis faucibus sed tempor</span></li>
                        <li><span>Massa amet lobortis vel</span></li>
                        <li><span>Nascetur nunc varius</span></li>
                    </ul>
                </div>             
                <div class="half">
                    <h2>Aliquam Interdum</h2>
                    <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
