<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>My Accepted Requests</h1>
        <ul class="list-group">
            {% for request in accepted_requests %}
            <li class="list-group-item">
                <h5>{{ request.title }}</h5>
                <p>{{ request.description }}</p>

                <a href="{{ url_for('answer_request', request_id=request.id) }}" class="btn btn-primary">Answer</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
