<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">RequestHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if session.get('username') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">{{ session['username'] }}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <!-- User welcome message -->
        <div class="jumbotron">
            <h1 class="display-4">Hello, {{ user.username }}!</h1>
            <p class="lead">This is your personal dashboard where you can view and manage your requests and responses.</p>
            <hr class="my-4">
            <p>Use the buttons below to create a new request or search other request.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('create_request') }}" role="button">Create Request</a>
            <a class="btn btn-info btn-lg" href="{{ url_for('search_requests') }}" role="button">Search Requests</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('my_accepted_requests') }}" role="button">My Accepted Requests</a>
            <!-- <a class="btn btn-secondary btn-lg" href="{{ url_for('logout') }}" role="button">sign out</a>-->
        </div>




        
        <!-- User request -->
        <div class="mb-5">
            <h2>My requests</h2>
            {% if requests %}
            <ul class="list-group">
                {% for request in requests %}
                <li class="list-group-item">
                    <a href="{{ url_for('request_details', request_id=request.id) }}">
                        {{ request.title }} - {{ request.description }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No requests yet.</p>
            {% endif %}
        </div>

        <!-- User response -->
        <div class="mb-5">
            <h2>My responses</h2>
            {% if responses %}
            <ul class="list-group">
                {% for response in responses %}
                <li class="list-group-item">
                    <a href="{{ url_for('request_details', request_id=response.request_id) }}">
                        {{ response.response_text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No response yet.</p>
            {% endif %}
        </div>
    


        
    </div>
</body>