<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to RequestHub</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introductory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    <script src="https://kit.fontawesome.com/f0c92dd9f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="#banner">Home</a></button></li>
                <li><a href="#about">About</a></li>
                <li><a href="#function">Function</a></li>
                <li><a href="{{ url_for('login') }}" class="button">Login</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <div class="inner">
            <h2>Welcome to RequestHub</h2>
            <p>Get started by either logging in to your existing account or creating a new one to explore the possibilities</p>
            <ul class="actions">
                <li><a href="{{ url_for('register') }}" class="button big special">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}" class="button big alt">Login</a></li>
            </ul>
        </div>
    </section>
    
    <section id="about">
        <div class="major">
            <h2>Join our community</h2>
            <p>The place where you can post requests, solve puzzles, and engage with your community</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-solid fa-group-arrows-rotate major"></i>
                        <h3>Dynamic Engagement</h3>
                        <p>Join a bustling hub of activity where every interaction propels your skills and connects you with like-minded individuals.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-solid fa-people-group major"></i>
                        <h3>Ever-Growing User Base</h3>
                        <p>Be part of a rapidly expanding community where every new user brings a unique perspective and fresh challenges to solve.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="special box">
                        <i class="icon fa-regular fa-comments major"></i>
                        <h3>Friendly Interaction</h3>
                        <p>Engage in a friendly environment where support and camaraderie are the norms, fostering a welcoming space for all newcomers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="function">
        <div class="major">
            <h2>Explore Our Features</h2>
            <p>Discover the tools that make our platform a dynamic space for collaboration and growth</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="half">
                    <img src="{{ url_for('static', filename='images/fuction_img.jpg') }}" alt="Forum">
                    <h3>Submit Your Requirements</h3>
                    <p>With our user-friendly interface, submitting your requirements is as easy as a few clicks. Specify your needs and publish them to our vast community to gain rapid and robust responses</p>
                </div>

                <div class="half">
                    <img src="{{ url_for('static', filename='images/fuction_two_img.jpg') }}" alt="Help">
                    <h3>Accept and Respond to Requests</h3>
                    <p>Engage with the community by accepting requests that align with your skills. Respond efficiently using our streamlined communication tools that ensure your contributions are impactful and acknowledged</p>
                </div>
            
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="half">
                    <h2>Accumsan</h2>
                    <ul class="alt">
                        <li><span>Phone: +123-456-7890</span></li>
                        <li><span>Email: support@example.com</span></li>
                        <li><span>Address: The University of Western Australia</span></li>
                    </ul>
                </div>             
                <div class="half">
                    <h2>Follow Us</h2>
                    <p>Stay connected with us through social media and get the latest updates about our services and offers.</p>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
