<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
   
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</head>
<body>
    <header id="header">
        <h1><a href="{{ url_for('home') }}">RequestHub</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('login') }}" class="button">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="login-container">
            <img src="{{ url_for('static', filename='images/register_page_img.jpg') }}" alt="Register Image" class="login-image">
            <div class="login-form">
                <h1>Register</h1>
            
                {% for message in get_flashed_messages(category_filter=['error', 'success']) %}
                <div class="alert alert-{{ 'success' if 'successful' in message else 'danger' }} custom-alert">
                    {{ message }}
                    <button type="button" class="custom-close" aria-label="Close" onclick="dismissAlert(this)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}


                <form method="POST" action="{{ url_for('register') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
                    <button type="submit" class="btn btn-primary">Create New User</button>
                </form>


            </div>
        </div>
    </div>
</body>
</html>


